// Variables
$color-text-dark: #000;
$color-text-less-dark: #505050;
$color-text-light: #f0f0f0;
$color-background-dark: rgb(16, 31, 46);

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;