@import "variables";
@import "reset";
@import "index";
@import "movieDescription";
@import "researchResults";

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 5rem;
}

a {
    text-decoration: none;
    color: $color-text-dark;
    cursor: pointer;
}

header {
    .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-size: 3rem;
            font-weight: bold;
            font-family: "paralucent";
        }
        
        .search-bar {
            display: flex;
            align-items: center;

            .search-icon {
                width: 25px;
                height: 25px;
            }

            .search-input {
                margin-left: 1rem;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                padding: 0.5rem 0;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 1);
                }
            }
        }
    }
    
    hr {
        margin-top: 5rem;
        opacity: 0.2;
    }
}

h1, h2 {
    font-weight: bold;
    font-family: "paralucent";
}
