@import "variables";
@import "reset";
@import "index";
@import "movieDescription";
@import "researchResults";

body {
    font-family: 'Poppins', sans-serif;
    background: $color-background-dark;
}

.container {
    margin: 5rem;
}

a {
    text-decoration: none;
    color: $color-text-light;
    cursor: pointer;
}

header {
    .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        .logo {
            font-size: 3rem;
            font-weight: bold;
            font-family: "paralucent";
        }
        
        .search-bar {
            display: flex;
            align-items: center;

            label {
                display: grid;
                place-items: center;
            }

            .search-icon {
                width: 25px;
                height: 25px;
                cursor: pointer;

                &.closed {
                    display: none;
                }
            }

            .close-search-icon {
                width: 25px;
                height: 25px;
                display: none;
                cursor: pointer;

                &.opened {
                    display: block;
                }
            }

            .search-input {
                display: none;
                margin-left: 1rem;
                border: none;
                border-bottom: 1px solid rgba( $color-text-light, 1);
                padding: 0.5rem 0;
                color: $color-text-light;
                background: $color-background-dark;

                &:focus {
                    outline: none;
                }

                &.opened {
                    display: block;
                }
            }
        }
    }
    
    hr {
        margin-top: 5rem;
        opacity: 0.2;
    }
}

h1, h2 {
    font-weight: bold;
    font-family: "paralucent";
}
